@import "tailwindcss";
@font-face {
    font-family: ag-bold;
    src: url("/src/assets/fonts/other/Aeonik/fonnts.com-Aeonik-Bold.ttf");
}
@font-face {
    font-family: ag-reg;
    src: url("/src/assets/fonts/other/Aeonik/fonnts.com-Aeonik-Regular.ttf");
}

@theme{
    --color-white1:#FFFFFF;
    --color-purple:#7065F0;
    --color-purplewhite:#F1EFFB;
    --color-smpurple:#F5F5FF;
    --color-ppbg:#F7F7FD;
    --color-strokepurple:#E0DEF7;
    --font-ag-bold : ag-bold;
    --font-ag-reg : ag-reg;
}

@layer utilities{
    .bx_sh{
        box-shadow: 0 0 25px #E0DEF7;
    }
}

@layer components{
    .btn{
        @apply bg-purple text-white1 font-ag-bold rounded-lg transition-transform duration-200 hover:scale-[1.02] active:scale-[0.98];
    }
    .btn-ripple {
        position: relative;
        overflow: hidden;
    }
}

